body {
  font-size: 0.875rem;
}

.badge {
  margin: 0 !important;
  padding: 3px !important;
  display: inline-block;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;

}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .fa {
  margin-right: 4px;
  width: 25px;
  height: 16px;
  font-size: 0.9em;
  vertical-align: middle;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #888;
}

.sidebar .nav-link .fa {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active,
.sidebar a:hover {
  color: #444;
  border-right: 6px solid darkgray;
}

.sidebar .nav-link:hover .fa,
.sidebar .nav-link.active .fa {
  color: #444;
}

.sidebar-heading {
  font-size: 0.65rem;
  letter-spacing: 0.05em;
  opacity: 0.8;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, .25); */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/*
 * Utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
