<template>
    <router-link :to="'/'+model+'/'+id" :class="`btn btn btn-outline-${_color} `"><i class="fa fa-angle-right"></i></router-link>
</template>

<script>
export default {
	props: ['id', 'model']
}
</script>

<style>
</style>
