<template>
    
    <div class="alert alert-light m-3 d-flex justify-content-center " >
        <div :class="`spinner-border text-${_color} m-5`" role="status"> </div>
        <!-- Cargando... -->
    </div>
</template>

<script>
export default {}
</script>
